<div class="container">
  <div class="text-center p-5">
    <%= image_tag "https://avatars.githubusercontent.com/u/147330364?v=4", class: "avatar-large", alt: "avatar-large" %>
    <br>
    <h2> Hello contractor <%= current_user.username %> </h2>
    <br>
  </div>
  <div class="text-center" >
    <% if @contracts.count == 0 %>
      <p> You currently have no contract. </p>
      <br>
    <% else %>
      <% @contracts.each_with_index do |contract, index| %>
        <div class="card-product">
          <%= image_tag "https://avatars.githubusercontent.com/u/146410754?v=4", class: "avatar-large", alt: "avatar-large" %>
            <div class="card-product-infos">
              <h2> Contract #<%= index + 1 %>: </h2>
              <p> To kill: <%= contract.victim_name %>, Age: <%= contract.victim_age %>
              <p> Selected scenario: <%= contract.scenario.name %> </p>
              <p> Selected hitman: <%= contract.hitman.user.username %> </p>
              <p> Contract status: <%= contract.status %>
            </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to "Create a new contract", new_contract_path, class: "btn btn-dark"%>
  </div>
</div>
