
<div class="container">
  <div class="text-center p-5">
    <h1> <strong>New contract</strong> </h1>
    <br>
    <h4><u> Tell us more about the victim and consider the job done </u></h4>
  </div>
  <div class="p-5">
    <div>
      <div data-controller="cards">
        <%= simple_form_for @contract, html: { data: {action: "submit->cards#trigger"}} do |f| %>
          <%= f.input :expiration_date %>
          <%= f.input :victim_picture, as: :file %>
          <%= f.input :victim_name, label: "your victim name:" %>
          <%= f.input :victim_age, label: "your victim age:" %>
          <%= f.input :victim_location, label: "where to find him/her:" %>
          <%= f.input :victim_description, label: "Precise victim bio and context:" %>
          <%= f.input :budget %>
          <%= f.association :scenario, label: "Choose Kill scenario:" %>
          <%= f.association :hitman, label: "Choose your Killer:", input_html: { data: { cards_target: "hitman" } }  %>
          <h1 class="text-center p-5 fs-1"> Choose your Killer</h1>

            <div class="hitman-cards">
              <% @hitmen.each_with_index do |hitman, index| %>
                <div class="card-product card-product-big" data-action="click->cards#selected" id="<%= hitman.id %>" data-cards-target ="choice">
                  <%= image_tag "hitman-#{index + 1}.png", class: "hitman-pic" %>
                  <div class="card-product-infos">
                    <h2><%= hitman.user.username %></h2>
                    <p><strong>Skills:</strong> <%= hitman.skills.first.name %></p>
                    <p><strong>Birth year:</strong> <%= hitman.birth_year %></p>
                    <p><strong>Style:</strong> bloody</p>
                    <br>
                    <p><strong>Descrpition:</strong> <%= hitman.description %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <%= f.button :submit, class: 'btn btn-dark mr-4' %>
        <% end %>
        <%= link_to "Back to your contracts", contracts_path, class: "text-black"%>
      </div>
    </div>

  </div>
</div>
