<!DOCTYPE html>
<html>
  <head>
    <title>Hitmeupman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <div class="navbar bg-black px-4" id="nav">
        <div class="d-flex align-items-center">
          <a class="navbar-brand" href="/">
            <%= image_tag("target.png", alt: "logo", width: 110, height: 80) %>
            <a class="hmu" href="/"> HMU </a>
          </a>
        </div>

          <div class="ml-auto d-flex align-items-center">
            <a class="nav-link_1" href="/contracts">  Requests </a>
            <a class="nav-link_1" href="/my_contracts">  Contracts </a>


            <% if user_signed_in? %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-link text-white ml-2 text-decoration-none", id:"log-out-home"%>
              <% else %>
              <%= link_to "Log in", new_user_session_path, class: "text-white text-decoration-none", id:"log-in-home" %>
            <% end %>
          </div>
      </div>
    <%= yield %>
    <footer>
    <%= render "shared/flashes" %>
    </footer>
  </body>
</html>
