<!DOCTYPE html>
<html>
  <head>
    <title>Hitmeupman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar bg-black px-4" id="nav">
      <a class="navbar-brand" href="/">
        <%= image_tag("target.png", alt: "logo", width: 80, height: 80) %>
      </a>
      <div>
        <a class="nav-link_1" href=/contracts > My requests </a>
        <a class="nav-link_1" href=/my_contracts > My contracts </a>
      </div>
    </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>
  </body>
</html>
